*{
    color:white;
}

body{
    background-color:rgb(13, 13, 78);
    width: 100vw;
    min-height:100vh;
    margin:0;
    padding-top:90px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

nav{
    background-color: rgb(28, 28, 99);
    color:white;
    /*border: white 2px solid;*/
    top:0;
    left:0;
    position:fixed;
}

nav ul {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    width:100vw;
    
}

nav ul li{
    font-size: 20px;
    list-style:none;
}

 #signIn{
    font-family: 'Bebas Neue', Impact, sans-serif;
    border:white;
    width:100px;
    height:50px;
    border-radius: 20px ;
    font-size:20px ;
    color:black;
    margin-top:20px;
}

#signIn:hover{
    opacity:0.85;
    transform: translateY(-3px);
    cursor:pointer;
}

#signUp{
    margin:15px;
    border:none;
    background: none;
    color:white;
}
a{
    text-decoration:none;
    color:white;
}

a:hover{
    text-decoration: underline;
    font-style: italic;
}

h1 {
    display:flex;
    justify-content:'center';
    font-family: 'Bebas Neue', Impact, sans-serif;
    font-size: 50px;
    color: #f0e040;
    text-shadow: 2px 2px 0px #7a7000;
}

form{
    display:flex;
    flex-direction: column;
    align-items:center;
    margin:15px;
    padding:25px;
    border:2px solid white;
    height:250px;
}

form input{
    margin:20px;
    padding:10px;
    width:200px;
    height:25px;

}

input{
    color:black;
}
