<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About-Us</title>
        <link rel="stylesheet" href="../static/AboutUs.css">
    </head>
    <body>
        <nav>
            <ul>
                <li> 
                    <a href="Index.html">Home</a>
                </li>
                <li> 
                    <a href="AboutUs.html">About-Us</a>
                </li>
                <li> 
                    <a href="SignIn.html">Sign-in</a>
                </li>
            </ul>
        </nav>
        <header>
            <h1>Get To Know Us!</h1>
            <h2>404 name not found</h2>
        </header>
        <section id="description">
            <!--The school we attend-->
            <img src="../static/assets/Dawson_College.jpg" alt="Picture of Dawson College"/>
            <h2>We are Dawson College Students currently admitted in the Computer Science & Technology Program!</h2>
        </section>
        <ul id="cards">
            <!--information about us-->
            <li class="card">
                <h3>Darlene - Team Leader</h3>
                <p>She loves to interact with people, watch movies/tv shows and of course eating!</p>
                <ul>
                    <li>Skills/Adept at Using:</li>
                    <li>Html</li>
                    <li>Css</li>
                    <li>Javascript</li>
                    <li>Sql</li>
                    <li>Python</li>

                </ul>
            </li>
            <li class="card">
                <h3>Hibat - Front End Developper</h3>
                <p>She loves to socialize, do sports, spending time with her family and eat!</p>
                <ul>
                    <li>Skills/Adept at Using:</li>
                    <li>Html</li>
                    <li>Css</li>
                    <li>Javascript</li>
                    <li>Sql</li>
                    <li>Python</li>
                </ul>
            </li>
            <li class="card">
                <h3>Aryan - Back End Developper</h3>
                <p>He loves to cook, play video games and CARS!</p>
                <ul>
                    <li>Skills/Adept at Using:</li>
                    <li>Html</li>
                    <li>Css</li>
                    <li>Javascript</li>
                    <li>Sql</li>
                    <li>Python</li>
                </ul>
            </li>
        </ul>
    </body>
    <footer>
        <p>Presented by 404 name not found</p>
    </footer>
</html>